#PainCanvas {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    canvas {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .record_button {
        z-index: 99;
        position: fixed;
        right: 0.5rem;
        bottom: 2rem;
        width: 3rem;
        height: 3rem;
        border-radius: 999rem;
        background-color: cornflowerblue;
        transition: all 0.5s;
        display: inline;
        div {
            min-width: 3rem;
            color: white;
            padding: 0;
            margin: 0;
            position: relative;
            text-align: center;
        }
        .top {
            font-size: 28px;
            top: -5px;
        }
        .bottom {
            font-size: 0.625rem;
            top: -17px;
        }
    }
    .record_button.show {
        display: inline;
        bottom: 26.5rem;
        transition: all 0.5s;
    }
    .record_button.hide {
        display: none;
    }
    footer {
        z-index: 98;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1.5rem;
        background-color: rgba(230, 230, 230, 1);
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        transition: all 0.5s;
        .trigger {
            cursor: pointer;
            z-index: 99;
            position: relative;
            top: 0;
            width: 100%;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            height: 1.5rem;
            // &:hover{
            //     background: rgba(0, 0, 0, 0.1);
            // }
        }
        .pain_des {
            width: 100%;
            .first {
                width: 80%;
                margin: 0 auto;
                display: flex;
                div {
                    width: 50%;
                    margin: 2.5px;
                    padding: 0 10px;
                    background-image: linear-gradient(to top, #1298e6, #17b7d7);
                    height: 70px;
                    border-radius: 10px;
                    span {
                        font-size: 12px;
                        font-weight: bold;
                        color: white;
                    }
                }
            }
            .second {
                width: 80%;
                background: white;
                border-radius: 10px;
                margin: 0 auto;
                div.title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 75%;
                    font-size: 14px;
                    font-weight: bold;
                    letter-spacing: 0.3px;
                    color: #15abc9;
                    margin: 5px 2.5px;
                    padding: 0 0 0 10px;
                    position: absolute;
                    z-index: 99;
                    .right {
                        font-size: 12px;
                        color: #999898;
                    }
                    svg {
                        position: relative;
                        top: -1px;
                    }
                }
                .echarts-for-react {
                    margin: 5px 5px 0 5px;
                    padding: 0;
                    height: 135px !important;
                    div {
                        width: fit-content;
                    }
                }
                .choice {
                    border-top: 2px solid rgba(230, 230, 230, 1);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    button {
                        width: 46px;
                        border: 1.5px solid #38b5d1;
                        border-radius: 20px;
                        text-align: center;
                        font-size: 12px;
                        letter-spacing: 0.5px;
                        margin: 3.5px 0;
                        padding: 1px 0 0 0;
                        color: white;
                        background-color: #38b5d1;
                        text-decoration: none;
                        transition: all 0.5s;
                    }
                    button.active {
                        border: 1.5px solid #38b5d1;
                        color: #38b5d1;
                        background-color: white;
                    }
                }
            }
            .third {
                width: 80%;
                margin: 3px auto;
                display: flex;
                justify-content: center;
                align-items: center;
                .block {
                    width: 25%;
                    margin: 1.5px;
                    padding: 2px 5px;
                    background-color: white;
                    border-radius: 10px;
                    border: 1px solid blue;
                    .block_content {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 35px;
                        width: 100%;
                        img{
                            margin: 7.5px auto 0 auto;
                            width: 75%;
                        }
                    }
                    span{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 12px;
                        color: #15abc9;
                    }
                }
            }
            .forth{
                width: 80%;
                margin: 3px auto;
                display: flex;
                justify-content: left;
                align-items: center;
                background-color: white;
                border-radius: 10px;
                font-size: 12px;
                color: #1298e6;
                padding: 10px 10px 20px 10px;
                table{
                    padding: 0;
                    margin: 0;
                    tbody{
                        padding: 0;
                        margin: 0;
                        td{
                            padding: 0;
                        }
                        .td_title{
                            display: flex;
                            white-space: nowrap;
                        }
                    }
        
                }
            }
        }
    }
    footer.show {
        height: 26rem;
        transition: all 0.5s;
    }
}
