#PainCanvas{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    canvas{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
    footer{
        z-index: 99;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 15rem;
        background-color: rgba(230,230,230,1);
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
}
